
.cs-link a{
    color: #faebd7;
    font-family:'open sans';
    float: right;
}

.cs-link a:hover{
    color: #F4D4AA;
    font-family:'open sans';
}

.linkedin a{
    color: #faebd7;
    font-family:'open sans';
    float: left;
}

.linkedin a:hover{
    color: #F4D4AA;
    font-family:'open sans';
}

.title {
    text-align: center;
    position: relative;
    width: 90%;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
}

.title h1{
    color: white;
    font-family: 'open sans';
    font-size: 50px;
    position: relative;
    left: 90px;
    text-align: center;
}

.name{
    color: rgb(215, 250, 224);
    font-size: 54px;
    font-style:oblique;
    font-weight: bolder;
}

.circular-portrait { 
    position: relative; 
    float: right;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    border: 10px solid #aabfbb;
    border-style:inset; 
} 
.circular-portrait img { 
    width: 200px;
    position: relative;
    top: -30px;  
}

body{
    background-image: url(Sonoma_from_above.png);
}

.uri-table {
    border: solid 0px #DDEEEE;
    border-spacing: 0px;
    font: normal 13px 'open sans';
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 80%;
    padding: 20px;
}

.uri-table thead{
    height: 70px;
}

.uri-table tbody{
    height: 300px;
}

.uri-table caption{
    font-size: 36px;
    font-weight: bold;
    text-align: center;  
    color: white;
    margin:60px 350px 10px 350px;
    background-color: rgb(138, 161, 161);
    border-radius: 5px;
    padding: 15px;
}

.uri-table thead th {
    background-color: #ffffff;
    border: solid 0px #DDEEEE;
    color: #336b6b;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;

}

.uri-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

table a{
    color: #6b3333;
}
   
table a:hover{
    color: #336b6b;
}

.uri-table tr:nth-child(odd) {
    background: #aabfbb;
}

.uri-table tr:nth-child(even) {
    background: #E2EDEB;
}

tbody tr:nth-child(even){
    color: #a0a0a0;
}
tbody tr:nth-child(odd){
    color: white;
}

.music-hobbies-list{
    display: flex;
    justify-content:space-evenly;
    margin: 100px 200px 100px 200px;
    padding: 50px;
    background-color: #336b6b;
}

.music-hobbies h1{
    color: white;
    font-family:'open sans';
    font-size: 32px;
    background-color: rgb(138, 161, 161);
    border-radius: 5px;
    padding: 15px;
}

.music-hobbies a{
    color: white;
}

.music-hobbies a:hover{
    color: #F4D4AA;
}

.music-hobbies li{
    color: white;
    font-family:'open sans';
    margin: 20px 50px 0px 0px;
}

.hobbies li{
    list-style:square;
}

.quote p{
    top: 100px;
    left: 100px;
    width: 400px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 28px;
    color: white;
}

.quote > div{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    width: 500px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 50%;
    border: 10px solid #aabfbb;
    border-style:inset; 
}

.education-links li{
    color: white;
    font-family:'open sans';
    margin: 20px 50px 0px 0px;
}

.education-links{
    display: flex;
    justify-content:space-evenly;
    margin: 100px 400px 100px 400px;
    padding: 50px;
    background-color: #336b6b;
}

.education-links a{
    color: white;
}

.education-links a:hover{
    color: #F4D4AA;
}

